<header style="background-color: chocolate;">
  <%= link_to root_path, title: 'Главная' do %>
    <%= image_tag '/logo_alpha_new.png' %>
  <% end %>
  <nav>
    <ul>
      <li><a href="#">Главная</a></li>
      <li><a href="#">О нас</a></li>
      <li><a href="#">Услуги</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
  </nav>
</header>